.homeContainer {
  background-color: rgba($color: #000000, $alpha: 0.7);
  height: 65%;
  width: 45%;
  margin: auto;
}

.reactPlayer {
  height: auto;
  width: auto;
}

.trackInfo {
  text-align: center;
  a {
    color: white;
    text-decoration: none;
  }
}

@media only screen and (min-width: 700px) {
  .homeContainer {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    width: 80%;
  }
}
